@inject ArchitectProject.UI.Web.Services.Profile.ProfileManager ProfileManager

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/dist/img/user2-160x160.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>@ProfileManager.CurrentUser.UserName</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MENU PRINCIPAL</li>
            <li class="@(Html.IsMenuActive("/Admin", true) ? "active" : "")">
                <a asp-controller="Admin" asp-action="Index">
                    <i class="fa fa-home"></i> Home
                </a>
            </li>
            <li class="treeview @(Html.IsMenuActive("/Admin/Gerenciar", false) ? "active" : "")">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>Gerenciamento</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@(Html.IsMenuActive("/Admin/Gerenciar/Cliente", false) ? "active" : "")">
                        <a asp-controller="Admin" asp-action="Customer">
                            <i class="fa fa-circle-o"></i> Cliente
                        </a>
                    </li>
                    <li class="@(Html.IsMenuActive("/Admin/Gerenciar/Galeria", false) ? "active" : "")">
                        <a asp-controller="Admin" asp-action="Gallery">
                            <i class="fa fa-circle-o"></i> Galeria
                        </a>
                    </li>
                    <li class="@(Html.IsMenuActive("/Admin/Gerenciar/Menu", false) ? "active" : "")">
                        <a asp-controller="Admin" asp-action="Menu">
                            <i class="fa fa-circle-o"></i> Menu
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview @(Html.IsMenuActive("/Admin/Administracao", false) ? "active" : "")">
                <a href="#">
                    <i class="fa fa-expeditedssl"></i> <span>Administração</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@(Html.IsMenuActive("/Admin/Administracao/Configuracoes", false) ? "active" : "")">
                        <a asp-controller="Admin" asp-action="Index">
                            <i class="fa fa-circle-o"></i> Configurações
                        </a>
                    </li>
                    <li class="@(Html.IsMenuActive("/Admin/Administracao/Usuario", false) ? "active" : "")">
                        <a asp-controller="Admin" asp-action="Index">
                            <i class="fa fa-circle-o"></i> Usuário
                        </a>
                    </li>
                </ul>
            </li>

            @*<li class="treeview @(Html.IsMenuActive("/Forms") ? "active" : "")">
                    <a href="#">
                        <i class="fa fa-edit"></i> <span>Forms</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="@(Html.IsMenuActive("/Forms/General") ? "active" : "")"><a href="#"><i class="fa fa-circle-o"></i> General Elements</a></li>
                        <li class="@(Html.IsMenuActive("/Forms/Advanced") ? "active" : "")"><a href="#"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>
                        <li class="@(Html.IsMenuActive("/Forms/Editors") ? "active" : "")"><a href="#"><i class="fa fa-circle-o"></i> Editors</a></li>
                    </ul>
                </li>
                <li class="treeview @(Html.IsMenuActive("/Tables") ? "active" : "")">
                    <a href="#">
                        <i class="fa fa-table"></i> <span>Tables</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="@(Html.IsMenuActive("/Tables/Simple") ? "active" : "")"><a href="#"><i class="fa fa-circle-o"></i> Simple tables</a></li>
                        <li class="@(Html.IsMenuActive("/Tables/DataTable") ? "active" : "")"><a href="#"><i class="fa fa-circle-o"></i> Data tables</a></li>
                    </ul>
                </li>
                <li class="@(Html.IsMenuActive("/Calendar") ? "active" : "")">
                    <a href="#">
                        <i class="fa fa-calendar"></i> <span>Calendar</span>
                        <span class="pull-right-container">
                            <small class="label pull-right bg-red">3</small>
                            <small class="label pull-right bg-blue">17</small>
                        </span>
                    </a>
                </li>
                <li class="treeview @(Html.IsMenuActive("/Mail") ? "active" : "")">
                    <a href="#">
                        <i class="fa fa-envelope"></i> <span>Mailbox</span>
                        <span class="pull-right-container">
                            <small class="label pull-right bg-yellow">12</small>
                            <small class="label pull-right bg-green">16</small>
                            <small class="label pull-right bg-red">5</small>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="@(Html.IsMenuActive("/Mail/Inbox") ? "active" : "")">
                            <a href="#">
                                Inbox
                                <span class="pull-right-container">
                                    <span class="label label-primary pull-right">13</span>
                                </span>
                            </a>
                        </li>
                        <li class="@(Html.IsMenuActive("/Mail/Compose") ? "active" : "")"><a href="#">Compose</a></li>
                        <li class="@(Html.IsMenuActive("/Mail/Read") ? "active" : "")"><a href="#">Read</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-share"></i> <span>Multilevel</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-circle-o"></i> Level One
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="fa fa-circle-o"></i> Level Two
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                        <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
                <li class="header">LABELS</li>
                <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
                <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
                <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>*@
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>