@model ArchitectProject.UI.Web.Areas.Admin.Models.AdminViewModel

@section Styles {
    <!-- DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
    
}

@section Scripts {
    <!-- InputMask -->
    <script src="~/bower_components/inputmask/dist/jquery.inputmask.bundle.js"></script>
    <script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>

    <!-- Page script -->
    <script>
        $(function () {
            //Brazil phone input
            $('[data-mask]').inputmask()
        })

        $(function () {
            $('#tbCustomers').DataTable({
                responsive: true,
                "language": {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                }
            });
        });
    </script>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Gerenciamento de Clientes</h1>
    <br />
    <ol class="breadcrumb">
        <li><a href="/Admin"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Gerenciamento</li>
        <li class="active">Cliente</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <form asp-controller="Admin" asp-action="SaveOrUpdateCustomer" method="post">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Cadastrar novo Cliente</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input asp-for="@Model.Customer.Id" hidden="hidden">
                            <label>Nome</label>
                            <input type="text" class="form-control" asp-for="@Model.Customer.Name">
                            <span asp-validation-for="@Model.Customer.Name"></span>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label>E-mail</label>
                            <input type="text" class="form-control" asp-for="@Model.Customer.Email">
                            <span asp-validation-for="@Model.Customer.Email"></span>
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Sobrenome</label>
                            <input type="text" class="form-control" asp-for="@Model.Customer.Surname">
                            <span asp-validation-for="@Model.Customer.Surname"></span>
                        </div>
                        <!-- /.form-group -->
                        <label>Celular</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <input type="text" class="form-control" data-inputmask='"mask": "(99) 99999-9999"' data-mask asp-for="@Model.Customer.Phone">
                            <span asp-validation-for="@Model.Customer.Phone"></span>
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button class="btn btn-default" type="button" onclick="location.replace('/Admin/Gerenciar/Cliente');">Cancelar</button>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </div>
        <!-- /.box -->
    </form>


    <!-- Main content -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Lista de Clientes</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tbCustomers" class="table table-bordered table-striped" style="width: 100%">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Customer.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Customer.Surname)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Customer.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Customer.Phone)
                                </th>
                                <th>
                                    Ações
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Customers)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Surname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>
                                <td style="width: 5% !important">
                                    <a class="fa fa-fw fa-pencil" asp-controller="Admin" asp-action="EditCustomer" asp-route-id="@item.Id"></a> |
                                    <a class="fa fa-fw fa-trash-o" asp-controller="Admin" asp-action="DeleteCustomer" asp-route-id="@item.Id"></a>
                                </td>
                            </tr>
                            }
                        </tbody>
                        <tfoot>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Customer.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Customer.Surname)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Customer.Email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Customer.Phone)
                                    </th>
                                    <th>
                                        Ações
                                    </th>
                                </tr>
                            </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>